/* selectlist plugin */

gap-selectbox {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill-rule='nonzero' d='M5.7 7.3a1 1 0 0 0-1.4 1.4l7.7 7.7 7.7-7.7a1 1 0 1 0-1.4-1.4L12 13.6 5.7 7.3z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 12px auto;
    background-position: right 3px;
    padding-right: 12px;
}
gap-selectbox gap-variant {display: none}
gap-selectbox gap-variant[selected="selected"] {display: inline}
