$content-text-base: #1E252B;
$content-text-link: #5AB3E4;
$content-table-border: #5AB3E4;
$content-table-th-ground: #E6F6FF;
$content-table-th-text: #6D7381;

$font-family-regular: 'LatoWeb', sans-serif;
$font-family-medium: 'LatoWebMedium', sans-serif;
$font-family-bold: 'LatoWebBold', sans-serif;

:host {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

h2 {
  font-family: $font-family-bold;
  color: $content-text-base;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  margin: 0 0 20px 0 !important;
}

h3 {
  font-family: $font-family-medium;
  color: $content-text-base;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  margin: 0 0 20px 0 !important;
}

h4 {
  font-family: $font-family-regular;
  color: $content-text-base;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  margin: 0 0 20px 0 !important;
}

p {
  color: $content-text-base;
  margin: 0;
}

a {
  color: $content-text-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-image: url('/assets/icons/list_style_image.svg');
  margin: 20px 0;
  padding: 0 0 0 20px;
  li {
    padding-left: 10px;
  }
}

ol {
  margin: 20px 0;
  padding: 0 0 0 20px;
  li {
    padding-left: 10px;
  }
}

li {
  color: $content-text-base;
  line-height: 130%;
  margin-bottom: 3px;
}

figure { // @deprecated
  margin: 0;
}

figcaption { // @deprecated
  color: #1E252B;
  text-align: center;
}

table {
  border: 1px solid $content-table-border;
  border-collapse: collapse;
  margin: 20px -1px;
  table-layout: fixed;
  width: calc(100% + 2px);
  border-radius: 10px;
  overflow: hidden;

  caption {
    padding-top: 20px !important;  // проверить по макету !!!
    font-size: 14px !important;
    line-height: 130%;
    color: #A4B0C3 !important;
    margin-bottom: 10px; // проверить по макету !!!
  }
}

th {
  font-family: $font-family-medium;
  background: $content-table-th-ground;
  border: 1px solid $content-table-border;
  color: $content-text-base;
  font-weight: 700;
  line-height: 160%;
  padding: 5px;
}

td {
  border: 1px solid $content-table-border;
  color: $content-table-th-text;
  line-height: 160%;
  padding: 5px;
  text-align: center;
}

img {
  border-radius: 10px;
  max-width: 768px;
  object-fit: cover;
  object-position: center;

  display: block;
  margin: 0 auto;
}

.image {
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;

  figcaption {
    padding-top: 10px !important;
    font-size: 14px !important;
    line-height: 130%;
    color: #A4B0C3 !important;
    margin-bottom: 30px; // проверить по макету !!!
    text-align: center;
  }

  &.image-style-align-left {
    float: left;
    margin: 0 30px 0 0; // проверить по макету !!!
    width: 50%;
    height: 50%;

    > img {
      width: 100%;
    }
  }

  &.image-style-align-right {
    float: right;
    margin: 0 0 0 30px; // проверить по макету !!!
    width: 50%;
    height: 50%;
    > img {
      width: 100%;
    }
  }
}

.marker-yellow { // @deprecated
  background-color: #E1D05F;
  color: inherit;
}

.marker-pink { // @deprecated
  background-color: #E86F79;
  color: inherit;
}

.marker-green { // @deprecated
  background-color: rgba(111, 207, 151, 0.3);
  color: inherit;
}
