/* selectlist plugin */

gap-inputbox {
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 4px 7px 4px 7px;
}

gap-dropbox {
    background-color: #5AB3E4;
    padding: 4px 7px 4px 7px;
}

gap-selectbox {
    background-color: #5AB3E4;
    background-image: url(/assets/icons/gap_selectbox_arrow.svg);
    background-repeat: no-repeat;
    background-size: 24px auto;
    background-position: right 6px;
    padding: 4px 37px 4px 7px;
    color: #FFF;
    border-radius: 5px;
}
gap-selectbox gap-variant {display: none}
gap-selectbox gap-variant[selected="selected"] {display: inline}
