$font-family-base: 'LatoWeb', sans-serif;
$font-family-regular: $font-family-base;
$font-family-medium: 'LatoWebMedium', sans-serif;
$font-family-bold: 'LatoWebBold', sans-serif;

$font-color: #1E252B;
$font-size: 18px;
$line-height: 130%;
$body-background-color: #fff;
